installation__
wp-admin
wp-includes
wp-content/uploads
wp-content/wphb-logs
wp-content/wflogs
wp-content/plugins/airplane-mode-master
old
wp-config.php
wp-content/wflogs/config-synced.php
wp-content/wflogs/config.php
