installation__
wp-admin
wp-includes
wp-content/uploads
wp-content/wphb*
wp-content/wflogs*
wp-content/wflogs__
wp-content/plugins/airplane-mode-master
old
wp-config.php
./.htaccess
.htaccess
*/**/*.zip
devchemr_chemrose.sql.gz
wp-content/wflogs/.htaccess
wp-content/wflogs/attack-data.php
